In [2]:
import pandas as pd

file = pd.read_csv("countries.csv")
file

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

In [9]:
total_countries=file.shape[0]
print("there are "+str(total_countries)+" countries in the dataset")

there are 210 countries in the dataset

In [6]:
unique_continents=file['continent'].unique()
print(unique_continents)

['Asia' 'Europe' 'Africa' 'North America' 'South America' 'Oceania']

In [11]:
total_population=file['population'].sum()
print("the total population is "+str(total_population))

the total population is 7757980095.0

In [12]:
most_populus_df=file.nlargest(10,'population')
print(most_populus_df)

          location      continent    population  life_expectancy  \
41           China           Asia  1.439324e+09            76.91
90           India           Asia  1.380004e+09            69.66
199  United States  North America  3.310026e+08            78.86
91       Indonesia           Asia  2.735236e+08            71.72
145       Pakistan           Asia  2.208923e+08            67.27
27          Brazil  South America  2.125594e+08            75.88
141        Nigeria         Africa  2.061396e+08            54.69
15      Bangladesh           Asia  1.646894e+08            72.59
157         Russia         Europe  1.459345e+08            72.58
125         Mexico  North America  1.289328e+08            75.05

     hospital_beds_per_thousand  gdp_per_capita
41                         4.34       15308.712
90                         0.53        6426.674
199                        2.77       54225.446
91                         1.04       11188.744
145                        0.60        5034.708
27                         2.20       14103.452
141                         NaN        5338.454
15                         0.80        3523.984
157                        8.05       24765.954
125                        1.38       17336.469

In [13]:
countries_count_df=file.groupby('continent').size().reset_index(name='country count')
print(countries_count_df)

       continent  country count
0         Africa             55
1           Asia             47
2         Europe             51
3  North America             36
4        Oceania              8
5  South America             13

In [15]:
continents_population_df=file.groupby('continent')['population'].sum().reset_index()
continents_population_df.columns=['continents', 'total population']
print(continents_population_df)

      continents  total population
0         Africa      1.339424e+09
1           Asia      4.607388e+09
2         Europe      7.485062e+08
3  North America      5.912425e+08
4        Oceania      4.095832e+07
5  South America      4.304611e+08

In [29]:
covid_countries=pd.read_csv("covid-countries-data.csv")
total_tests_missing=covid_countries['total_tests'].isna().sum()
print ("missing data sets "+ str(total_tests_missing))

missing data sets 122

In [21]:
covid_countries=pd.read_csv("covid-countries-data.csv")
combined_df = pd.merge(file,covid_countries , left_on='location', right_on='location')
print(combined_df)

           location continent  population  life_expectancy  \
0       Afghanistan      Asia  38928341.0            64.83
1           Albania    Europe   2877800.0            78.57
2           Algeria    Africa  43851043.0            76.88
3           Andorra    Europe     77265.0            83.73
4            Angola    Africa  32866268.0            61.15
..              ...       ...         ...              ...
205         Vietnam      Asia  97338583.0            75.40
206  Western Sahara    Africa    597330.0            70.26
207           Yemen      Asia  29825968.0            66.12
208          Zambia    Africa  18383956.0            63.89
209        Zimbabwe    Africa  14862927.0            61.49

     hospital_beds_per_thousand  gdp_per_capita  total_cases  total_deaths  \
0                          0.50        1803.987      38243.0        1409.0
1                          2.89       11803.431       9728.0         296.0
2                          1.90       13913.839      45158.0        1525.0
3                           NaN             NaN       1199.0          53.0
4                           NaN        5819.495       2729.0         109.0
..                          ...             ...          ...           ...
205                        2.60        6171.884       1046.0          35.0
206                         NaN             NaN        766.0           1.0
207                        0.70        1479.147       1976.0         571.0
208                        2.00        3689.251      12415.0         292.0
209                        1.70        1899.775       6638.0         206.0

     total_tests
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
205     261004.0
206          NaN
207          NaN
208          NaN
209      97272.0

[210 rows x 9 columns]

In [36]:
file=pd.read_csv("countries.csv")
covid_countries=pd.read_csv("covid-countries-data.csv")
combined_df = pd.merge(file,covid_countries , left_on='location', right_on='location')
combined_df['tests_per_million'] = combined_df['total_tests'] *1e6/ combined_df['population'] 
combined_df['cases_per_million'] = combined_df['total_cases']*1e6 / combined_df['population'] 
combined_df['deaths_per_million'] = combined_df['total_deaths']*1e6 / combined_df['population'] 
print(combined_df)

           location continent  population  life_expectancy  \
0       Afghanistan      Asia  38928341.0            64.83
1           Albania    Europe   2877800.0            78.57
2           Algeria    Africa  43851043.0            76.88
3           Andorra    Europe     77265.0            83.73
4            Angola    Africa  32866268.0            61.15
..              ...       ...         ...              ...
205         Vietnam      Asia  97338583.0            75.40
206  Western Sahara    Africa    597330.0            70.26
207           Yemen      Asia  29825968.0            66.12
208          Zambia    Africa  18383956.0            63.89
209        Zimbabwe    Africa  14862927.0            61.49

     hospital_beds_per_thousand  gdp_per_capita  total_cases  total_deaths  \
0                          0.50        1803.987      38243.0        1409.0
1                          2.89       11803.431       9728.0         296.0
2                          1.90       13913.839      45158.0        1525.0
3                           NaN             NaN       1199.0          53.0
4                           NaN        5819.495       2729.0         109.0
..                          ...             ...          ...           ...
205                        2.60        6171.884       1046.0          35.0
206                         NaN             NaN        766.0           1.0
207                        0.70        1479.147       1976.0         571.0
208                        2.00        3689.251      12415.0         292.0
209                        1.70        1899.775       6638.0         206.0

     total_tests  tests_per_million  cases_per_million  deaths_per_million
0            NaN                NaN         982.394806           36.194710
1            NaN                NaN        3380.359997          102.856349
2            NaN                NaN        1029.804468           34.776824
3            NaN                NaN       15518.022390          685.950948
4            NaN                NaN          83.033462            3.316470
..           ...                ...                ...                 ...
205     261004.0        2681.403324          10.745996            0.359570
206          NaN                NaN        1282.373228            1.674116
207          NaN                NaN          66.250993           19.144391
208          NaN                NaN         675.317108           15.883415
209      97272.0        6544.605918         446.614587           13.859989

[210 rows x 12 columns]

In [39]:
highest_tests_df=combined_df.nlargest(10,'tests_per_million')
print(highest_tests_df)

                 location      continent   population  life_expectancy  \
197  United Arab Emirates           Asia    9890400.0            77.97
14                Bahrain           Asia    1701583.0            77.29
115            Luxembourg         Europe     625976.0            82.25
122                 Malta         Europe     441539.0            82.53
53                Denmark         Europe    5792203.0            80.90
96                 Israel           Asia    8655541.0            82.97
89                Iceland         Europe     341250.0            82.99
157                Russia         Europe  145934460.0            72.58
199         United States  North America  331002647.0            78.86
10              Australia        Oceania   25499881.0            83.44

     hospital_beds_per_thousand  gdp_per_capita  total_cases  total_deaths  \
197                       1.200       67293.483      71540.0         387.0
14                        2.000       43290.705      52440.0         190.0
115                       4.510       94277.965       7928.0         124.0
122                       4.485       36513.323       1931.0          13.0
53                        2.500       46682.515      17195.0         626.0
96                        2.990       33132.320     122539.0         969.0
89                        2.910       46482.958       2121.0          10.0
157                       8.050       24765.954    1005000.0       17414.0
199                       2.770       54225.446    6114406.0      185744.0
10                        3.840       44648.710      25923.0         663.0

     total_tests  tests_per_million  cases_per_million  deaths_per_million
197    7177430.0      725696.635121        7233.276713           39.128852
14     1118837.0      657527.137965       30818.361490          111.660730
115     385820.0      616349.508607       12665.022301          198.090662
122     188539.0      427004.183096        4373.339614           29.442473
53     2447911.0      422621.755488        2968.645954          108.076323
96     2353984.0      271962.665303       14157.289533          111.951408
89       88829.0      260304.761905        6215.384615           29.304029
157   37176827.0      254750.159763        6886.653091          119.327539
199   83898416.0      253467.507769       18472.377957          561.155633
10     6255797.0      245326.517406        1016.592979           26.000121

In [40]:
highest_cases_df=combined_df.nlargest(10,'cases_per_million')
print(highest_cases_df)

          location      continent   population  life_expectancy  \
155          Qatar           Asia    2881060.0            80.23
14         Bahrain           Asia    1701583.0            77.29
147         Panama  North America    4314768.0            78.51
40           Chile  South America   19116209.0            80.18
162     San Marino         Europe      33938.0            84.97
9            Aruba  North America     106766.0            76.29
105         Kuwait           Asia    4270563.0            75.49
150           Peru  South America   32971846.0            76.74
27          Brazil  South America  212559409.0            75.88
199  United States  North America  331002647.0            78.86

     hospital_beds_per_thousand  gdp_per_capita  total_cases  total_deaths  \
155                        1.20      116935.600     119206.0         199.0
14                         2.00       43290.705      52440.0         190.0
147                        2.30       22267.037      94084.0        2030.0
40                         2.11       22767.037     414739.0       11344.0
162                        3.80       56861.470        735.0          42.0
9                           NaN       35973.781       2211.0          12.0
105                        2.00       65530.537      86478.0         535.0
150                        1.60       12236.706     663437.0       29259.0
27                         2.20       14103.452    3997865.0      123780.0
199                        2.77       54225.446    6114406.0      185744.0

     total_tests  tests_per_million  cases_per_million  deaths_per_million
155     634745.0      220316.480740       41375.743650           69.071800
14     1118837.0      657527.137965       30818.361490          111.660730
147     336345.0       77952.047480       21805.112117          470.477208
40     2458762.0      128621.841287       21695.671982          593.423100
162          NaN                NaN       21657.139490         1237.550828
9            NaN                NaN       20708.839893          112.395332
105     621616.0      145558.325682       20249.789079          125.276222
150     584232.0       17719.117092       20121.318048          887.393445
27     4797948.0       22572.268255       18808.224105          582.331314
199   83898416.0      253467.507769       18472.377957          561.155633

In [41]:
highest_deaths_df=combined_df.nlargest(10,'deaths_per_million')
print(highest_deaths_df)

           location      continent   population  life_expectancy  \
162      San Marino         Europe      33938.0            84.97
150            Peru  South America   32971846.0            76.74
18          Belgium         Europe   11589616.0            81.63
3           Andorra         Europe      77265.0            83.73
177           Spain         Europe   46754783.0            83.56
198  United Kingdom         Europe   67886004.0            81.32
40            Chile  South America   19116209.0            80.18
97            Italy         Europe   60461828.0            83.51
27           Brazil  South America  212559409.0            75.88
182          Sweden         Europe   10099270.0            82.80

     hospital_beds_per_thousand  gdp_per_capita  total_cases  total_deaths  \
162                        3.80       56861.470        735.0          42.0
150                        1.60       12236.706     663437.0       29259.0
18                         5.64       42658.576      85817.0        9898.0
3                           NaN             NaN       1199.0          53.0
177                        2.97       34272.360     479554.0       29194.0
198                        2.54       39753.244     338676.0       41514.0
40                         2.11       22767.037     414739.0       11344.0
97                         3.18       35220.084     271515.0       35497.0
27                         2.20       14103.452    3997865.0      123780.0
182                        2.22       46949.283      84532.0        5820.0

     total_tests  tests_per_million  cases_per_million  deaths_per_million
162          NaN                NaN       21657.139490         1237.550828
150     584232.0       17719.117092       20121.318048          887.393445
18     2281853.0      196887.713967        7404.645676          854.040375
3            NaN                NaN       15518.022390          685.950948
177    6416533.0      137238.001939       10256.790198          624.406705
198   13447568.0      198090.434075        4988.892850          611.525168
40     2458762.0      128621.841287       21695.671982          593.423100
97     5214766.0       86248.897403        4490.684602          587.097697
27     4797948.0       22572.268255       18808.224105          582.331314
182          NaN                NaN        8370.109919          576.279276