# Assignment 1.1 - Pandas Data Analysis Practice

*This assignment is a part of the project ["Customer Churn Analysis: From Data To Strategy"]*

In this assignment, you'll get to practice some of the concepts and skills covered in pandas.

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end.

Some things to keep in mind:

* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.


If you are stuck, you can ask for help on the Whatsapp group. Please do not use **ChatGPT or any other LLM to get solutions to the questions.**


Deadline : **22 May, 11:59 pm**

In [1]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

Let's load the data from the CSV file into a Pandas data frame.

In [2]:
countries_df = pd.read_csv('countries.csv')

In [3]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [4]:
num_countries = countries_df['location'].shape[0]

In [5]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [6]:
continents = countries_df.continent.unique()

In [7]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

**Q3: What is the total population of all the countries listed in this dataset?**

In [8]:
total_population = countries_df['population'].sum()

In [9]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [10]:
import numpy as np
life_expectancy = countries_df.life_expectancy
population = countries_df.population
weighted_avg = np.average(life_expectancy, weights=population)

In [11]:
weighted_avg

nan

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [12]:
most_populous_df = countries_df.sort_values(by='population', ascending=False).head(10)

In [13]:
most_populous_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
41,China,Asia,1.439324e+09,76.91,4.34,15308.712
90,India,Asia,1.380004e+09,69.66,0.53,6426.674
199,United States,North America,3.310026e+08,78.86,2.77,54225.446
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [14]:
countries_df['gdp'] = countries_df['population'] * countries_df['gdp_per_capita']

In [15]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [16]:
country_counts_df = countries_df.groupby('continent').continent.count()

In [17]:
country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: continent, dtype: int64

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [18]:
continent_populations_df = countries_df.groupby('continent').sum('population')

In [19]:
continent_populations_df

,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
continent,,,,,
Africa,1.339424e+09,3532.41,60.220,288523.368,6.149204e+12
Asia,4.607388e+09,3506.05,124.930,1032210.905,5.676188e+13
Europe,7.485062e+08,3829.40,222.078,1401145.971,2.435885e+13
North America,5.912425e+08,2760.60,53.280,584691.580,2.266297e+13
Oceania,4.095832e+07,609.69,8.750,93260.722,1.354559e+12
South America,4.304611e+08,982.53,24.820,166089.423,6.258200e+12

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [20]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [21]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [22]:
total_tests_missing = covid_data_df['total_tests'].isna().sum()

In [23]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [24]:
combined_df = pd.merge(covid_data_df, countries_df, on='location', how='inner')

In [25]:
combined_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,9728.0,296.0,NaN,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,45158.0,1525.0,NaN,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,2729.0,109.0,NaN,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,1046.0,35.0,261004.0,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,766.0,1.0,NaN,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,12415.0,292.0,NaN,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [26]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [27]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [28]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [29]:
combined_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,NaN,982.394806,36.194710
1,Albania,9728.0,296.0,NaN,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,NaN,3380.359997,102.856349
2,Algeria,45158.0,1525.0,NaN,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,NaN,1029.804468,34.776824
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN,NaN,15518.022390,685.950948
4,Angola,2729.0,109.0,NaN,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,1046.0,35.0,261004.0,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,2681.403324,10.745996,0.359570
206,Western Sahara,766.0,1.0,NaN,Africa,597330.0,70.26,NaN,NaN,NaN,NaN,1282.373228,1.674116
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,NaN,66.250993,19.144391
208,Zambia,12415.0,292.0,NaN,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,NaN,675.317108,15.883415
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6544.605918,446.614587,13.859989

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [30]:
highest_tests_df = combined_df.sort_values(by='tests_per_million',ascending=False).head(10)['location']

In [31]:
highest_tests_df

197    United Arab Emirates
14                  Bahrain
115              Luxembourg
122                   Malta
53                  Denmark
96                   Israel
89                  Iceland
157                  Russia
199           United States
10                Australia
Name: location, dtype: object

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [32]:
highest_cases_df = combined_df.sort_values(by='cases_per_million',ascending=False).head(10)['location']

In [33]:
highest_cases_df

155            Qatar
14           Bahrain
147           Panama
40             Chile
162       San Marino
9              Aruba
105           Kuwait
150             Peru
27            Brazil
199    United States
Name: location, dtype: object

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [34]:
highest_deaths_df = combined_df.sort_values(by='deaths_per_million',ascending=False).head(10)['location']

In [35]:
highest_deaths_df

162        San Marino
150              Peru
18            Belgium
3             Andorra
177             Spain
198    United Kingdom
40              Chile
97              Italy
27             Brazil
182            Sweden
Name: location, dtype: object

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

## Submission

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem.